<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.zjh.com.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <meta-data
        android:name="UMENG_CHANNEL"
        android:value="${CHANNEL}" />

    <!--//获取设备网络状态，禁用后无法获取网络状态-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--//网络权限，当禁用后，无法进行检索等相关业务-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--//读取设备硬件信息，统计数据-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--//读取系统信息，包含系统版本等信息，用作统计-->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <!--//获取设备的网络状态，鉴权所需网络代理-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--//允许sd卡写权限，需写入地图数据，禁用后无法显示地图-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--//这个权限用于进行网络定位-->
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <!--//这个权限用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--//获取统计数据-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--//使用步行AR导航，配置Camera权限-->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--//程序在手机屏幕关闭后后台进程仍然运行-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- <meta-data -->
    <!-- android:name="UMENG_CHANNEL" -->
    <!-- android:value="${CHANNEL}" /> -->
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".activity.DemoBaseActivity" />
        <activity
            android:name=".activity.ActivityRecyclerView"
            android:label="@string/title_activity_recycler_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.FlexboxLayoutActivity"
            android:label="@string/title_activity_flexbox_layout"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.CoordinatorLayoutActivity"
            android:label="@string/title_activity_coordinator_layout"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activity.ProcessButtonActivity" />
        <activity android:name=".activity.ImageSliderActivity" />
        <activity android:name=".activity.itmapRegionDecoderActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".activity.AnimationActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN"></action> -->
            <!-- <category android:name="android.intent.category.LAUNCHER"></category> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".chapter3.activity.DemoActivity_1" />
        <activity android:name=".chapter3.activity.DemoActivity_2" />
        <activity android:name=".chapter3.activity.MainActivity">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN"></action>-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".chapter3.activity.TestActivity" />
        <activity android:name=".chapter3.activity.ThirdActivity" />
        <activity android:name=".activity.HandlerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--
        因为服务端的Service需要被客户端来远程绑定，所以客户端要能够找到这个Service，可以通过先指定包名，之后再配置Action值或者直接指定Service类名的方式来绑定Service
如果是通过指定Action值的方式来绑定Service，那还需要将Service的声明改为如下所
链接：https://www.jianshu.com/p/29999c1a93cd
來源：简书
        -->
        <service
            android:name=".services.AIDLService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.zjh.application.action" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <activity android:name=".activity.WindowActivity"></activity>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="GCt780YNtq7MxsATIf0NgyaVDYvklzFL" />
    </application>

</manifest>